@model IEnumerable<GroupsViewModel>

<ul>
    @foreach (var group in Model)
    {
        <p>ID: @group.Id</p>
        <p>Name> @group.Name | <a asp-controller="Groups" asp-action="Details" asp-route-id="@group.Id">Edit</a></p>
    }
</ul>

<a asp-controller="Groups" asp-action="Create">Create new group</a>